@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*
{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
}

ul
{
    padding: unset;
}

p{
    margin
}